.vscode/
/bin/
build/
.cache/
*.swp
/simulator/target
/simulator/codegen/target
/simulator/examples/*/bin
/simulator/examples/*/obj
/frontend/.stack-work
/frontend/dist-newstyle
*.o
*.so
/examples/*.mlir
/examples/*.ll
/examples/*.qcis
/result
/.direnv
/.vscode
/.pre-commit-config.yaml
/.build
/target
/result-bin